
.f_btn {
    display: inline-flex;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 500;
    
    
    
    &.ty_small {
        min-width: 40px;
        height: 26px;
        padding: 0 6px;
        font-size: 12px;
        //line-height: 24px;
        border-radius: 4px;
        &._round {
            border-radius: 26px;
        }
    }
    &.ty_mid {
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        //line-height: 34px;
        border-radius: 4px;
        &._round {
            border-radius: 40px;
        }
    }
    &.ty_big {
        height: 50px;
        padding: 0 10px;
        font-size: 16px;
        font-weight: bold;
        //line-height: 48px;
        border-radius: 6px;
        width: 200px;
        &.auto_h {
            height: auto;
            padding: 6px 10px;
        }
        &._round {
            border-radius: 50px;
        }
    }
    &.disable {
        opacity: 0.4;
        cursor: not-allowed;
       
    }
    &.w100 {
        width: 100%;
    }
    &.disabled {
        position: relative;
        opacity: 0.5;
        pointer-events: none;
        &::after {
            content: '';
            position: absolute;
            left: 20px;
            right: 20px;
            top: 50%;
            height: 1px;
            background-color: #fff;
        }
    }
}

.btn_kakao {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    &::before {
        content:'';
        width: 23px;
        height: 23px;
        background-image: url(../img/logo_kakao.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin-right: 10px;
    }
    //@include btn(#FEE500, #191919)
    background-color: #FEE500;
    color: #191919;
    
}