


#wrap {
    
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto; 
    
}
.inner {
    padding: 40px 20px;
    min-height: var(--app-height);
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: #fff;
    .contents {
        width: 100%;
    }
}



.login_wrap {
    text-align: center;
    min-height: var(--app-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $c_key;
    padding: 0 20px;
    &_logo {
        border-radius: 50%;
        width: 500px;
        
    }
    .btn_kakao {
        margin-top: 40px;
    }
}

.qr_box {
    border: 1px solid $c_line;
    border-radius: 6px;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
}


.sub_tit { 
    margin-bottom: 1rem;
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
}

.payment_info {
    background-color: rgba($c_key, .06);
    padding: 15px;
    border-radius: 10px;
    &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & + & {
            margin-top: 6px;
        }
       
        .tit {
            font-size: 14px;
            color: $c_solidGrey;
            white-space: nowrap;
            flex-shrink: 0;
            padding-right:20px;
        }
        .cont {
            font-size: 16px;
            font-weight: 500;
            text-align: right;
        }
        &.ty_total {
            padding-top: 10px;
            margin-top: 10px;
            border-top: 1px solid $c_line;
            .tit {
                font-size: 16px;
            }
            .cont {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.use_process {
    margin-top: 50px;
    text-align: left;
    .tit {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
    }
    &_list {
        font-size: 0.9rem;
        li {
            padding-left: 10px;
            position: relative;
            & + li {
                margin-top: 4px;
            }
            &::before {
                content: '•';
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}